.menu {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: Georgia;	
	}
	
.menu li {
	list-style: none;
	float: left;
	height: 33px;
	padding: 0;
	margin: 0;
	width: auto;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 12px;
	}
	
.menu li a {
	display: block;
	width: 160;
	height: 33px;
	color: #fff;
	text-decoration: none;
	}
	
.menu .menu{
	display:none;
	position:absolute;
	top:100%;
}

.menu .menu li{
	float:none;
}
#oneLine{
	height:33px;
}

#twoLine{
	height:50px;
}

#threeLine{
	height:63px;
}
	
.menu .menu li a{
			width: 170px;
}	

.menu li:hover ul, .menu li.hover ul {
	display: block;
}
.menu li:hover, .menu li.hover {
	background: #424242;
}

