 *{
	padding:0;
	margin:0;
}

.name{
	padding-left:200px;
}
.name p{
	font-size:40px;
	font-family:"Brush Script MT"
}
.header{
	margin:0 auto;
	width:960px;
	background:#171717;
	height:45px;
	font-family: Georgia;
	
}

.labe{
	font-family: Georgia;
	color:#fff;
	font-size:22px;
	vertical-align:middle;
}

.main{
	margin:0 auto;
	width:960px;
	background:#EDEDED;
}

.main p{
	padding: 20px;
	font-family: Georgia;
	font-size: 25;
	
}

.bot{
	height:200px;
	
}

a.button-1 {
	font-size:20px;
	width: 160;
	display: block;
	width: 160px;
	height: 38px;
	color: #fff;
	text-decoration: none;
	background:#171717;
	padding-top:6px;
	margin-top:10px;
	vertical-align:middle;
}

a.button-1:hover {
	background:#424242;
}

a.button-1:active {
	background:#fff;
}
.enter{
	position:absolute;
	top:0;
	right:0;
	width:200px;
}

.text{
	font-size:20px;
}

#chemaPat{
	padding:20px;
}

